<div
  class="global-wrapper"
  *ngIf="layoutDir$ | async as direction"
  [dir]="direction"
>
  <div class="dir-btns">
    <button
      type="button"
      class="btn-reset"
      [class.active]="direction === 'ltr'"
      (click)="layout.layoutDir.next('ltr')"
    >
      ltr
    </button>
    <button
      type="button"
      class="btn-reset"
      [class.active]="direction === 'rtl'"
      (click)="layout.layoutDir.next('rtl')"
    >
      rtl
    </button>
  </div>
  <router-outlet></router-outlet>
</div>
